.bottom
    &__social__text
        position: absolute;
        width: 193px;
        height: 27px;
        left: 120px;
        top: 977px;
        font-family: Circe;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 27px;
        /* identical to box height */
        color: #F9F9FB;
    &__social__mesedger
        