.hero
    position: relative
    padding-top: 170px
    &__logo
        position: absolute
        width: 720px;
        height: 720px;
        left: 945px;
        top: 111px;
        background: url('../img/hero/logo-new.png');
        opacity: 0.8;
    &__title
        
        width: 524px
        height: 168px
        font-family: Russo One
        font-style: normal;
        font-weight: normal
        font-size: 70px
        line-height: 84px
        text-transform: uppercase
        color: #FFFFFF
    &__text

        width: 540px
        height: 81px
        font-family: Circe
        font-style: normal
        font-weight: normal
        font-size: 18px
        line-height: 27px
        color: #F9F9FB
    &__form
        &__input
            margin-top: 46px
            margin-right: 20px
            width: 220px
            height: 44px
            opacity: 0.2
            border: 1px solid #FFFFFF
            background: radial-gradient(50% 50% at 50% 50%, rgba(29, 28, 33, 0.85) 0%, #1D1C21 100%);
            &__phone
                left: 370px
                top: 475px
                position: absolute
                
            &__text
                position: absolute
                top: 475px
                left: 160px

                
        &__button
            margin-top: 30px
            width: 457px
            height: 50px
            background: #C80A2C
            border-radius: 40px
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            color: $text-color

        &__prevArrow
            position: absolute;
            width: 42px;
            height: 12px;
            left: 112px;
            top: 761px;
            opacity: 0.5;
        &__nextArrow
            position: absolute
            width: 42px
            height: 12px
            left: 180px
            top: 760px
            color: $text-color
            

            




